In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A':[1,2,3],
                   'B':[10,20,30]})
df1

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [10]:
df2 = pd.DataFrame({'C':[4,5,6],
                   'B':[40,50,60]})
df2

   C   B
0  4  40
1  5  50
2  6  60

In [8]:
display(df1,df2)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

   C   B
0  4  40
1  5  50
2  6  60

In [14]:
df1 = pd.DataFrame({'A':[1,2,3],
                   'B':[10,20,30]})
df2 = pd.DataFrame({'C':[4,5,6],
                   'D':[40,50,60]})
df1.join(df2)

SyntaxError: invalid syntax (<ipython-input-14-36ca4420b532>, line 2)

In [17]:
df1 = pd.DataFrame({'A':[1,2,3],
                   'B':[10,20,30]}, index=['a','b','c'])
df2 = pd.DataFrame({'C':[4,5,6],
                   'D':[40,50,60]})
display(df1,df2)

   A   B
a  1  10
b  2  20
c  3  30

   C   D
0  4  40
1  5  50
2  6  60

In [18]:
df1 = pd.DataFrame({'A':[1,2,3],
                   'B':[10,20,30]}, index=['a','b','c'])
df2 = pd.DataFrame({'C':[4,5,6],
                   'D':[40,50,60]}, index=['a','b','c'])
df1.join(df2)

   A   B  C   D
a  1  10  4  40
b  2  20  5  50
c  3  30  6  60

In [20]:
df1 = pd.DataFrame({'A':[1,2,3],
                   'B':[10,20,30]}, index=['a','b','c'])
df2 = pd.DataFrame({'C':[4,5],
                   'D':[40,50]}, index=['a','b'])
display(df1,df2)

   A   B
a  1  10
b  2  20
c  3  30

   C   D
a  4  40
b  5  50

In [21]:
df1.join(df2)

   A   B    C     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN

In [22]:
df1.join(df2, how="right")

   A   B  C   D
a  1  10  4  40
b  2  20  5  50

In [24]:
df1 = pd.DataFrame({'A':[1,2,3],
                   'B':[10,20,30]}, index=['a','b','c'])
df2 = pd.DataFrame({'A':[4,5,6],
                   'D':[40,50,60]}, index=['a','b','c'])
df1.join(df2, lsuffix='_1')

   A_1   B  A   D
a    1  10  4  40
b    2  20  5  50
c    3  30  6  60