In [1]:
import pandas as pd

In [8]:
pd.read_csv('C:\\Users\\sayed\\Desktop\\python_project\\pandas_practical\\file1.csv')

   student id  class  study hrs  sleeping hrs  smu hrs  mg hrs  percentage
0         101     10          2             4        6       1          55
1         102      3          5             2        8       2          23

In [9]:
import os

In [10]:
print(os.getcwd())

C:\Users\sayed\PycharmProjects\pandas

In [1]:
pd.read_csv('C:\\Users\\sayed\\Desktop\\python_project\\pandas_practical\\file1.csv')

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [4]:
pd.read_csv('C:\\Users\\sayed\\python_projects\\pandas_practical\\file1.csv')

,student id,date,class,study hrs,sleeping hrs,smu hrs,mg hrs,percentage
0,101,yes,10,2,4.0,6,1,55.0
1,102,yes,3,5,2.0,8,2,NaN
2,103,yes,3,7,NaN,1,6,NaN
3,104,yes,2,4,2.0,7,5,NaN
4,105,yes,8,32,5.0,4,3,21.0